In [44]:
import pandas as pd

In [45]:
df1 = pd.read_csv('./data/fifa_country_codes/List_of_FIFA_country_codes_1.csv')
df2 = pd.read_csv('./data/fifa_country_codes/List_of_FIFA_country_codes_2.csv')
df3 = pd.read_csv('./data/fifa_country_codes/List_of_FIFA_country_codes_3.csv')
df4 = pd.read_csv('./data/fifa_country_codes/List_of_FIFA_country_codes_4.csv')

In [46]:
frames = [df1, df2, df3, df4]
country_codes = pd.concat(frames)
country_codes.rename(columns={'Country': 'team', 'Code': 'code'}, inplace=True)
country_codes['country'] = country_codes.loc[:, 'team']
country_codes

              team code         country
0      Afghanistan  AFG     Afghanistan
1          Albania  ALB         Albania
2          Algeria  ALG         Algeria
3   American Samoa  ASA  American Samoa
4          Andorra  AND         Andorra
..             ...  ...             ...
47         Vietnam  VIE         Vietnam
48           Wales  WAL           Wales
49           Yemen  YEM           Yemen
50          Zambia  ZAM          Zambia
51        Zimbabwe  ZIM        Zimbabwe

[211 rows x 3 columns]

In [47]:
country_codes.to_csv('./data/fifa_country_codes/country_codes.csv', index=False)

In [48]:
sovereign_states = pd.read_csv('./data/fifa_country_codes/sovereign_states.csv', usecols=[0,1], header=0)
sovereign_states.columns = sovereign_states.columns.str.lower()
sovereign_states

         country     continent
0    Afghanistan          Asia
1        Albania        Europe
2        Algeria        Africa
3        Andorra        Europe
4         Angola        Africa
..           ...           ...
190    Venezuela  The Americas
191      Vietnam          Asia
192        Yemen          Asia
193       Zambia        Africa
194     Zimbabwe        Africa

[195 rows x 2 columns]

In [49]:
# Teams in country_codes (fifa teams), but not in sovereign states countries (because they are not really countries)
print(list(set(country_codes['country'].unique()) - set(sovereign_states['country'].unique())))

['Cook Islands', 'Hong Kong', 'Republic of Ireland', 'Scotland', 'Macau', 'Chinese Taipei', 'Congo', 'Kosovo', 'American Samoa', 'England', 'New Caledonia', 'Puerto Rico', 'Anguilla', 'British Virgin Islands', 'Wales', 'Northern Ireland', 'Faroe Islands', 'U.S. Virgin Islands', 'Montserrat', 'Cayman Islands', 'Czech Republic', 'Turks and Caicos Islands', 'Guam', 'Bermuda', 'Aruba', 'Tahiti', 'Gibraltar', 'Curaçao', 'DR Congo']

In [50]:
# Countries that are in sovereign states, but not in fifa teams 
print(list(set(sovereign_states['country'].unique()) - set(country_codes['country'].unique())))

['Ireland', 'Marshall Islands', 'Congo, Republic of the', 'Kiribati', 'Congo, Democratic Republic of the', 'Micronesia, Federated States of', 'Palau', 'Monaco', 'United Kingdom', 'Vatican City', 'Tuvalu', 'Czechia', 'Nauru']

In [51]:
# Change a few names in country_codes in order to match teams and their country
team_to_change = ['Chinese Taipei', 'Congo', 'England', 'Wales', 'Northern Ireland', 'Scotland' ]
changes = ['Taiwan', 'Republic of the Congo', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom']

In [52]:
country_codes['country'] = country_codes['country'].replace(team_to_change,changes)

In [53]:
country_codes

              team code         country
0      Afghanistan  AFG     Afghanistan
1          Albania  ALB         Albania
2          Algeria  ALG         Algeria
3   American Samoa  ASA  American Samoa
4          Andorra  AND         Andorra
..             ...  ...             ...
47         Vietnam  VIE         Vietnam
48           Wales  WAL  United Kingdom
49           Yemen  YEM           Yemen
50          Zambia  ZAM          Zambia
51        Zimbabwe  ZIM        Zimbabwe

[211 rows x 3 columns]

In [54]:
country_codes.to_csv('./data/fifa_country_codes/country_codes.csv', index=False)