In [56]:
import pandas as pd

In [57]:
rankings = pd.read_csv('./data/fifa_ranking-2022-10-06.csv')
rankings

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.00,0.00,0,UEFA,1992-12-31
1,96,Syria,SYR,11.00,0.00,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.00,0.00,0,CAF,1992-12-31
3,99,Latvia,LVA,10.00,0.00,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.00,0.00,0,CAF,1992-12-31
...,...,...,...,...,...,...,...,...
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [58]:
rankings.info()
rankings.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63916 entries, 0 to 63915
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             63916 non-null  int64
 1   country_full     63916 non-null  object
 2   country_abrv     63916 non-null  object
 3   total_points     63916 non-null  float64
 4   previous_points  63916 non-null  float64
 5   rank_change      63916 non-null  int64
 6   confederation    63916 non-null  object
 7   rank_date        63916 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 3.9+ MB

               rank  total_points  previous_points   rank_change
count  63916.000000  63916.000000     63916.000000  63916.000000
mean     100.196821    442.404780       440.999013      0.004756
std       58.060019    409.091526       409.321338      5.660809
min        1.000000      1.000000         0.000000    -92.000000
25%       50.000000     88.000000        86.000000     -1.000000
50%      100.000000    347.000000       345.000000      0.000000
75%      149.000000    641.000000       640.000000      2.000000
max      211.000000   2172.000000      2187.000000    199.000000

In [59]:
country_codes = pd.read_csv('./data/fifa_country_codes/country_codes.csv')
country_codes

               team code         country
0       Afghanistan  AFG     Afghanistan
1           Albania  ALB         Albania
2           Algeria  ALG         Algeria
3    American Samoa  ASA  American Samoa
4           Andorra  AND         Andorra
..              ...  ...             ...
206         Vietnam  VIE         Vietnam
207           Wales  WAL  United Kingdom
208           Yemen  YEM           Yemen
209          Zambia  ZAM          Zambia
210        Zimbabwe  ZIM        Zimbabwe

[211 rows x 3 columns]

In [60]:
list_of_codes_in_rankings_not_in_current_fifa = list(set(rankings['country_abrv'].unique()) - set(country_codes['code'].unique()))
list_of_codes_in_rankings_not_in_current_fifa

['TCH', 'LIB', 'YUG', 'ZAI', 'ANT', 'SCG']

In [61]:
print(list(set(country_codes['code'].unique()) - set(rankings['country_abrv'].unique()) ))

[]

In [62]:
# We need to see why these abbreviation are extra

In [63]:
rankings.loc[rankings['country_abrv'].isin(list_of_codes_in_rankings_not_in_current_fifa), 'country_full'].unique()

array(['Yugoslavia', 'Czechoslovakia', 'Zaire', 'Serbia and Montenegro',
       'Netherlands Antilles', 'Lebanon'], dtype=object)

In [64]:
# Yugoslavia, Czechoslovakia, Serbia and Montenegro and Netherlands Antilles are historically FIFA

# We can change them and their info to their successor
# Yugosliavia, Serbia and Montenegro -> Serbia
# Czechoslovakia -> Czech Republic
# Netherlands Antilles -> Curacao

# MUST Fixes: 
# Zaire is Democratic Republic of the Congo
# Lebanon appears with two different indexes,

In [65]:
rankings_modif = rankings.copy()

In [66]:
# taking care of lebanon
rankings_lebanon = rankings_modif.loc[rankings_modif['country_full']=='Lebanon']
rankings_lebanon['country_abrv'].unique()

array(['LBN', 'LIB'], dtype=object)

In [67]:
rankings_modif['country_abrv'] = rankings_modif['country_abrv'].replace('LIB','LBN')

In [68]:
# Test if we fixed Lebanon abrv
rankings_modif.loc[rankings_modif['country_abrv']=='LIB']

Empty DataFrame
Columns: [rank, country_full, country_abrv, total_points, previous_points, rank_change, confederation, rank_date]
Index: []

In [69]:
# taking care of Zaire
rankings_zaire = rankings_modif.loc[rankings_modif['country_abrv']=='ZAI']
rankings_zaire.iloc[0]

rank                       60
country_full            Zaire
country_abrv              ZAI
total_points             25.0
previous_points           0.0
rank_change                 0
confederation             CAF
rank_date          1992-12-31
Name: 117, dtype: object

In [70]:
rankings_cod= rankings_modif.loc[rankings_modif['country_abrv']=='COD']
rankings_cod['country_full'].iloc[0]

'Congo DR'

In [71]:
rankings_modif['country_full'] = rankings_modif['country_full'].replace(rankings_zaire['country_full'].iloc[0], rankings_cod['country_full'].iloc[0])
rankings_modif['country_abrv'] = rankings_modif['country_abrv'].replace(rankings_zaire['country_abrv'].iloc[0], rankings_cod['country_abrv'].iloc[0])

In [72]:
rankings_modif

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.00,0.00,0,UEFA,1992-12-31
1,96,Syria,SYR,11.00,0.00,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.00,0.00,0,CAF,1992-12-31
3,99,Latvia,LVA,10.00,0.00,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.00,0.00,0,CAF,1992-12-31
...,...,...,...,...,...,...,...,...
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [76]:
# Retest codes
list_of_codes_in_rankings_not_in_current_fifa2 = list(set(rankings_modif['country_abrv'].unique()) - set(country_codes['code'].unique()))
print(list_of_codes_in_rankings_not_in_current_fifa2,rankings_modif.loc[rankings_modif['country_abrv'].isin(list_of_codes_in_rankings_not_in_current_fifa2), 'country_full'].unique())

['SCG', 'ANT', 'TCH', 'YUG'] ['Yugoslavia' 'Czechoslovakia' 'Serbia and Montenegro'
 'Netherlands Antilles']

In [ ]:
# These are all former FIFA countries, not just name changes. What to do with them ?

In [89]:
rankings_modif.to_csv('./data/fifa_rankings.csv', index=False)

### MATCHES

In [77]:
matches = pd.read_csv('./data/matches.csv')
matches

,match_id,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...,...
44159,44160,44159,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,44160,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,44161,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,44162,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [91]:
rankings_modif['rank_date'].iloc[0]

'1992-12-31'

In [90]:
matches_trimmed = matches.copy()

In [96]:
matches_trimmed.drop(matches_trimmed[matches_trimmed['date'] <= rankings_modif['rank_date'].iloc[0]].index, inplace = True)

matches_trimmed

,level_0,match_id,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,17697,17698,17697,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,17698,17699,17698,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,17699,17700,17699,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,17700,17701,17700,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,17701,17702,17701,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...,...,...
26462,44159,44160,44159,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
26463,44160,44161,44160,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
26464,44161,44162,44161,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
26465,44162,44163,44162,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
26466,44163,44164,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [78]:
# Now check to see which countries remain in rankings that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_rankings_not_in_matches = list(set(rankings['country_full'].unique()) - set(matches['home_team'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_matches = rankings['country_full'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_matches.loc[countries_in_rankings_not_in_matches]).sort_values(ascending=False))

# This way we see how we should reformat the countries from confederations

Korea Republic                    322
USA                               322
IR Iran                           322
Côte d'Ivoire                     322
St. Lucia                         322
Korea DPR                         322
Brunei Darussalam                 322
Kyrgyz Republic                   307
St. Kitts and Nevis               305
Cape Verde Islands                299
Chinese Taipei                    291
FYR Macedonia                     285
Congo DR                          255
US Virgin Islands                 243
St. Vincent and the Grenadines    184
Sao Tome e Principe               183
St. Vincent / Grenadines          138
Swaziland                         138
Curacao                           100
Zaire                              67
Netherlands Antilles               44
Serbia and Montenegro              43
Cabo Verde                         23
Türkiye                             2
São Tomé e Príncipe                 1
Name: country_full, dtype: int64

In [80]:
list(set(matches['home_team'].unique()) - set(rankings['country_full'].unique()))

['Northern Cyprus',
 'Barawa',
 'Cascadia',
 'Sark',
 'Brittany',
 'Parishes of Jersey',
 'Central Spain',
 'Felvidék',
 'United States',
 'French Guiana',
 'Darfur',
 'Saint Pierre and Miquelon',
 'Niue',
 'Martinique',
 'North Vietnam',
 'Corsica',
 'Ellan Vannin',
 'Saint Lucia',
 'Székely Land',
 'Madrid',
 'Vatican City',
 'Saint Kitts and Nevis',
 'Kernow',
 'Ivory Coast',
 'Kiribati',
 'Frøya',
 'Greenland',
 'North Korea',
 'Romani people',
 'Hitra',
 'Saint Helena',
 'Yemen DPR',
 'Gozo',
 'Tibet',
 'Western Sahara',
 'Saare County',
 'Rhodes',
 'South Ossetia',
 'Provence',
 'Saarland',
 'Mayotte',
 'Matabeleland',
 'Iraqi Kurdistan',
 'Isle of Man',
 'Taiwan',
 'County of Nice',
 'Manchukuo',
 'Panjab',
 'United Koreans in Japan',
 'Sint Maarten',
 'Menorca',
 'Sápmi',
 'Western Isles',
 'Abkhazia',
 'Kyrgyzstan',
 'Chagos Islands',
 'Yoruba Nation',
 'Republic of St. Pauli',
 'Ynys Môn',
 'Western Australia',
 'South Korea',
 'Alderney',
 'Palau',
 'Basque Country',
 'Orkney',
 'Cape Verde',
 'Andalusia',
 'Western Armenia',
 'Occitania',
 'Wallis Islands and Futuna',
 'Jersey',
 'Găgăuzia',
 'Galicia',
 'Kárpátalja',
 'Zanzibar',
 'Yorkshire',
 'Padania',
 'Gotland',
 'DR Congo',
 'Canary Islands',
 'Aymara',
 'Isle of Wight',
 'Artsakh',
 'Saint Martin',
 'Shetland',
 'Biafra',
 'Falkland Islands',
 'United States Virgin Islands',
 'Åland Islands',
 'Saint Vincent and the Grenadines',
 'Réunion',
 'Kabylia',
 'Chameria',
 'Vietnam Republic',
 'Guadeloupe',
 'Somaliland',
 'Bonaire',
 'Raetia',
 'Tuvalu',
 'Northern Mariana Islands',
 'Micronesia',
 'German DR',
 'Arameans Suryoye',
 'Brunei',
 'Iran',
 'Guernsey',
 'Mapuche',
 'Tamil Eelam',
 'Monaco',
 'Catalonia',
 'Silesia']

In [87]:
# Now check to see which countries remain in rankings that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_matches_not_in_rankings = list(set(matches['home_team'].unique()) - set(rankings['country_full'].unique()))

# Create series with all countries in matches and the number of matches
countries_list = matches['home_team'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list.loc[countries_in_matches_not_in_rankings]).sort_values(ascending=False).head(20))

# This way we see how we should reformat the countries from confederations

South Korea                         497
United States                       445
Iran                                293
Ivory Coast                         286
DR Congo                            202
Martinique                          154
German DR                           132
Guadeloupe                          130
North Korea                         126
Saint Kitts and Nevis               107
Cape Verde                           99
Saint Lucia                          95
French Guiana                        73
Kyrgyzstan                           66
Saint Vincent and the Grenadines     66
Zanzibar                             58
Vietnam Republic                     49
Jersey                               48
Réunion                              41
Catalonia                            39
Name: home_team, dtype: int64

In [88]:
abvr = rankings['country_full'].groupby(rankings_modif['country_abrv']).unique().apply(pd.Series)

In [26]:
abvr

                        0    1    2
country_abrv
AFG           Afghanistan  NaN  NaN
AIA              Anguilla  NaN  NaN
ALB               Albania  NaN  NaN
ALG               Algeria  NaN  NaN
AND               Andorra  NaN  NaN
...                   ...  ...  ...
YEM                 Yemen  NaN  NaN
YUG            Yugoslavia  NaN  NaN
ZAI                 Zaire  NaN  NaN
ZAM                Zambia  NaN  NaN
ZIM              Zimbabwe  NaN  NaN

[217 rows x 3 columns]

In [28]:
abvr[1].isnull()

country_abrv
AFG    True
AIA    True
ALB    True
ALG    True
AND    True
       ...
YEM    True
YUG    True
ZAI    True
ZAM    True
ZIM    True
Name: 1, Length: 217, dtype: bool

In [29]:
abvr[~abvr[1].isnull()]

,0,1,2
country_abrv,,,
CPV,Cape Verde Islands,Cabo Verde,NaN
CUW,Curacao,Curaçao,NaN
MKD,FYR Macedonia,North Macedonia,NaN
STP,Sao Tome e Principe,São Tomé e Príncipe,São Tomé and Príncipe
SWZ,Eswatini,Swaziland,NaN
TUR,Turkey,Türkiye,NaN
VIN,St. Vincent and the Grenadines,St. Vincent / Grenadines,NaN

In [ ]:
countries = rankings['confederation'].groupby(rankings['country_full']).unique().apply(pd.Series)

In [35]:
rankings.loc[rankings['country_full']=='Eswatini']

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
15,104,Eswatini,SWZ,10.00,0.00,0,CAF,1992-12-31
153,102,Eswatini,SWZ,12.00,10.00,-2,CAF,1993-08-08
333,93,Eswatini,SWZ,16.00,12.00,-9,CAF,1993-09-23
536,92,Eswatini,SWZ,17.00,16.00,-1,CAF,1993-10-22
619,97,Eswatini,SWZ,14.00,17.00,5,CAF,1993-11-19
...,...,...,...,...,...,...,...,...
63058,147,Eswatini,SWZ,1054.14,1054.14,1,CAF,2022-02-10
63080,143,Eswatini,SWZ,1070.46,1054.14,-4,CAF,2022-03-31
63482,144,Eswatini,SWZ,1066.92,1070.46,1,CAF,2022-06-23
63504,144,Eswatini,SWZ,1070.89,1066.92,0,CAF,2022-08-25
63712,143,Eswatini,SWZ,1070.89,1070.89,-1,CAF,2022-10-06

In [ ]:
countries_to_be_replaced = ['Cabo Verde', 'Cape Verde Islands', 'China PR', 'Chinese Taipei', ]

In [4]:
rankings['country_full'].value_counts()

Germany                  322
Thailand                 322
Madagascar               322
Italy                    322
Brazil                   322
                        ...
São Tomé and Príncipe     23
Cabo Verde                23
Czechoslovakia             6
Türkiye                    2
São Tomé e Príncipe        1
Name: country_full, Length: 224, dtype: int64

In [5]:
country = rankings.groupby('country_full')

In [ ]:
df2 = group.apply(lambda x: x['subreddit'].unique())

In [7]:
countries = country.apply(lambda x: x['confederation'].unique())

In [8]:
countries

country_full
Afghanistan        [AFC]
Albania           [UEFA]
Algeria            [CAF]
American Samoa     [OFC]
Andorra           [UEFA]
                   ...
Yemen              [AFC]
Yugoslavia        [UEFA]
Zaire              [CAF]
Zambia             [CAF]
Zimbabwe           [CAF]
Length: 224, dtype: object

In [9]:
countries_confederations = pd.DataFrame(countries)

In [10]:
countries_confederations

                     0
country_full
Afghanistan      [AFC]
Albania         [UEFA]
Algeria          [CAF]
American Samoa   [OFC]
Andorra         [UEFA]
...                ...
Yemen            [AFC]
Yugoslavia      [UEFA]
Zaire            [CAF]
Zambia           [CAF]
Zimbabwe         [CAF]

[224 rows x 1 columns]

In [11]:
countries = countries.apply(pd.Series)

In [12]:
countries

                   0
country_full
Afghanistan      AFC
Albania         UEFA
Algeria          CAF
American Samoa   OFC
Andorra         UEFA
...              ...
Yemen            AFC
Yugoslavia      UEFA
Zaire            CAF
Zambia           CAF
Zimbabwe         CAF

[224 rows x 1 columns]