In [11]:
import pandas as pd

In [12]:
rankings = pd.read_csv('./data/fifa_ranking-2022-10-06.csv')
rankings

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.00,0.00,0,UEFA,1992-12-31
1,96,Syria,SYR,11.00,0.00,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.00,0.00,0,CAF,1992-12-31
3,99,Latvia,LVA,10.00,0.00,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.00,0.00,0,CAF,1992-12-31
...,...,...,...,...,...,...,...,...
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [13]:
rankings.info()
rankings.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63916 entries, 0 to 63915
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             63916 non-null  int64
 1   country_full     63916 non-null  object
 2   country_abrv     63916 non-null  object
 3   total_points     63916 non-null  float64
 4   previous_points  63916 non-null  float64
 5   rank_change      63916 non-null  int64
 6   confederation    63916 non-null  object
 7   rank_date        63916 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 3.9+ MB

               rank  total_points  previous_points   rank_change
count  63916.000000  63916.000000     63916.000000  63916.000000
mean     100.196821    442.404780       440.999013      0.004756
std       58.060019    409.091526       409.321338      5.660809
min        1.000000      1.000000         0.000000    -92.000000
25%       50.000000     88.000000        86.000000     -1.000000
50%      100.000000    347.000000       345.000000      0.000000
75%      149.000000    641.000000       640.000000      2.000000
max      211.000000   2172.000000      2187.000000    199.000000

In [14]:
federations = pd.read_csv('./data/federations.csv')
federations

,code,name,founded,FIFA_affiliation,confederation_affiliation,regional,confederation,IOC_member
0,AUS,Australia,1961,1963.0,2006,AFF,AFC,True
1,BRU,Brunei Darussalam,1952,1972.0,1969,AFF,AFC,True
2,CAM,Cambodia,1933,1954.0,1954,AFF,AFC,True
3,LAO,Laos,1951,1952.0,1968,AFF,AFC,True
4,INA,Indonesia,1930,1952.0,1954,AFF,AFC,True
...,...,...,...,...,...,...,...,...
217,SWE,Sweden,1904,1904.0,1954,NaN,UEFA,True
218,SUI,Switzerland,1895,1904.0,1954,NaN,UEFA,True
219,TUR,Turkey,1923,1923.0,1962,NaN,UEFA,True
220,UKR,Ukraine,1991,1992.0,1992,NaN,UEFA,True
221,WAL,Wales,1876,1910.0,1954,NaN,UEFA,False

In [47]:
# Now check to see which countries remain in rankings that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_rankings_not_in_federations = list(set(rankings['country_full'].unique()) - set(federations['name'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_rankings = rankings['country_full'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_rankings.loc[countries_in_rankings_not_in_federations]).sort_values(ascending=False))

# This way we see how we should reformat the countries from confederations

St. Lucia                         322
USA                               322
IR Iran                           322
Korea Republic                    322
CÃ´te d'Ivoire                     322
Korea DPR                         322
Kyrgyz Republic                   307
St. Kitts and Nevis               305
Cape Verde Islands                299
Chinese Taipei                    291
FYR Macedonia                     285
Congo DR                          255
US Virgin Islands                 243
St. Vincent and the Grenadines    184
Sao Tome e Principe               183
Swaziland                         138
St. Vincent / Grenadines          138
Yugoslavia                        102
Curacao                           100
Zaire                              67
Netherlands Antilles               44
Serbia and Montenegro              43
Cabo Verde                         23
Czechoslovakia                      6
TÃ¼rkiye                             2
SÃ£o TomÃ© e PrÃ­ncipe                 1
Name: country_full, dtype: int64

In [48]:
print(countries_in_rankings_not_in_federations)

['Sao Tome e Principe', 'Korea Republic', 'Zaire', 'Curacao', 'St. Vincent / Grenadines', 'Congo DR', "CÃ´te d'Ivoire", 'TÃ¼rkiye', 'Czechoslovakia', 'St. Kitts and Nevis', 'Netherlands Antilles', 'US Virgin Islands', 'Korea DPR', 'SÃ£o TomÃ© e PrÃ­ncipe', 'IR Iran', 'USA', 'Chinese Taipei', 'FYR Macedonia', 'Serbia and Montenegro', 'Swaziland', 'Cape Verde Islands', 'Cabo Verde', 'Kyrgyz Republic', 'St. Vincent and the Grenadines', 'St. Lucia', 'Yugoslavia']

In [49]:
countries_in_rankings_replacement=['SÃ£o TomÃ© and PrÃ­ncipe', 'South Korea', 'DR Congo', 'CuraÃ§ao', 'Saint Vincent and the Grenadines', 'DR Congo', 'Ivory Coast', 'Turkey', 'Czechoslovakia', 'Saint Kitts and Nevis', 'Netherlands Antilles',
                                    'United States Virgin Islands', 'North Korea','SÃ£o TomÃ© and PrÃ­ncipe', 'Iran', 'United States', 'Taiwan', 'North Macedonia', 'Serbia', 'Eswatini', 'Cape Verde', 'Cape Verde', 'Kyrgyzstan',
                                    'Saint Vincent and the Grenadines', 'Saint Lucia', 'Yugoslavia']

In [50]:
rankings_modif = rankings.copy()

In [51]:
rankings_modif['country_full'] = rankings_modif['country_full'].replace(countries_in_rankings_not_in_federations, countries_in_rankings_replacement)

In [52]:
# Now check to see which countries remain in rankings that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_rankings_not_in_federations = list(set(rankings_modif['country_full'].unique()) - set(federations['name'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_rankings = rankings_modif['country_full'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_rankings.loc[countries_in_rankings_not_in_federations]).sort_values(ascending=False))

# This way we see how we should reformat the countries from confederations

Yugoslavia              102
Netherlands Antilles     44
Czechoslovakia            6
Name: country_full, dtype: int64

In [55]:
rankings_modif.to_csv('./data/fifa_rankings.csv', index=False)