In [6]:
import pandas as pd

In [7]:
country_codes = pd.read_csv('./data/country_codes.csv')
rankings = pd.read_csv('./data/fifa_rankings.csv')
matches = pd.read_csv('./data/matches.csv')

In [8]:
matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [9]:
rankings['rank_date'].iloc[0]

'1992-12-31'

In [10]:
# Trim matches
matches_trimmed = matches.drop(matches[matches['date'] <= rankings['rank_date'].iloc[0]].index)
matches_trimmed

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [11]:
rankings

,rank,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,team
0,1,GER,57.00,0.00,0,UEFA,1992-12-31,Germany
1,96,SYR,11.00,0.00,0,AFC,1992-12-31,Syria
2,97,BFA,11.00,0.00,0,CAF,1992-12-31,Burkina Faso
3,99,LVA,10.00,0.00,0,UEFA,1992-12-31,Latvia
4,100,BDI,10.00,0.00,0,CAF,1992-12-31,Burundi
...,...,...,...,...,...,...,...,...
63894,74,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06,El Salvador
63895,75,OMA,1320.29,1323.03,0,AFC,2022-10-06,Oman
63896,76,ISR,1316.55,1316.35,0,UEFA,2022-10-06,Israel
63897,78,GEO,1307.34,1296.46,-4,UEFA,2022-10-06,Georgia
63898,211,SMR,762.22,763.82,0,UEFA,2022-10-06,San Marino

In [15]:
# Countries in Rankings but NOT in Matches


# first see which countries are in rankings but not in matches
countries_in_rankings_not_in_matches = list(set(rankings['team'].unique()) - set(matches_trimmed['home_team'].unique()))
countries_in_rankings_not_in_matches

# # Create series with all countries in matches and the number of matches
# countries_list_matches = rankings['team'].value_counts()

# # Then filter the  list of matches using the countries that are in matches but not in federation
# print((countries_list_matches.loc[countries_in_rankings_not_in_matches]).sort_values(ascending=False))

['U.S. Virgin Islands', 'China', 'Chinese Taipei']

In [28]:
list(set(rankings['team'].unique()) - set(matches_trimmed['away_team'].unique()))

['U.S. Virgin Islands', 'China', 'Chinese Taipei']

### 3 Countries that are in RANKINGS do not show up in MATCHES
### Because they have different names in MATCHES

In [17]:
# Countries IN Matches but NOT IN RANKINGS
# We are looking for China, Taiwan (Chinese Taipei) and Unites States Virgin Islands (U.S. Virgin Islands)
# These are popular countries, they will for sure have more matches to them

# first see which countries are in matches but not in rankings (there will be more than 3, MATCHES has non-fifa countries as well)
countries_in_matches_not_in_rankings = list(set(matches_trimmed['home_team'].unique()) - set(rankings['team'].unique()))

# Create series with all countries in MATCHES and the number of matches
countries_list = matches_trimmed['home_team'].value_counts()

# Then filter the list of matches using the countries that are in MATCHES but not in RANKINGS (first 25 with most matches)
print((countries_list.loc[countries_in_matches_not_in_rankings]).sort_values(ascending=False).head(20))

China PR                        212
Martinique                       91
Guadeloupe                       71
French Guiana                    48
Jersey                           46
Guernsey                         37
Padania                          28
Zanzibar                         28
United States Virgin Islands     26
Greenland                        26
Ynys MÃ´n                         25
Basque Country                   24
Isle of Wight                    24
Catalonia                        23
Taiwan                           22
Isle of Man                      22
Northern Cyprus                  20
Ã…land Islands                    20
Shetland                         20
Gotland                          20
Name: home_team, dtype: int64

In [18]:
teams_to_replace = ['United States Virgin Islands','China PR','Taiwan']
print('Teams to replace: \n',teams_to_replace, '\nTo be replaced by: \n',countries_in_rankings_not_in_matches)

Teams to replace:
 ['United States Virgin Islands', 'China PR', 'Taiwan']
To be replaced by:
 ['U.S. Virgin Islands', 'China', 'Chinese Taipei']

In [21]:
matches_trimmed_modif = matches_trimmed.copy()

In [22]:
matches_trimmed_modif['home_team'] = matches_trimmed['home_team'].replace(teams_to_replace,countries_in_rankings_not_in_matches)
matches_trimmed_modif['away_team'] = matches_trimmed['away_team'].replace(teams_to_replace,countries_in_rankings_not_in_matches)
matches_trimmed_modif['country'] = matches_trimmed['country'].replace(teams_to_replace,countries_in_rankings_not_in_matches)

In [23]:
matches_trimmed_modif

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [29]:
# test
list(set(rankings['team'].unique()) - set(matches_trimmed_modif['home_team'].unique()))
# all teams from RANKINGS have their counterpart in MATCHES

[]

In [32]:
# But there are still non-fifa countries in matches
nonfifa_still_in_matches = list(set(matches_trimmed_modif['home_team'].unique()) - set(rankings['team'].unique()))
print('Non-fifa teams in international matches: \n', nonfifa_still_in_matches)

Non-fifa teams in international matches:
 ['Ynys MÃ´n', 'French Guiana', 'Barawa', 'Padania', 'Kernow', 'Republic of St. Pauli', 'Tibet', 'Ellan Vannin', 'SÃ¡pmi', 'Tamil Eelam', 'Cascadia', 'Guernsey', 'Galicia', 'Raetia', 'Gozo', 'Western Sahara', 'Alderney', 'Iraqi Kurdistan', 'Gotland', 'Hitra', 'Saare County', 'Artsakh', 'Madrid', 'Silesia', 'Kabylia', 'Menorca', 'Occitania', 'Matabeleland', 'Jersey', 'Abkhazia', 'South Ossetia', 'Zanzibar', 'Bonaire', 'Corsica', 'Shetland', 'Canary Islands', 'Brittany', 'Northern Mariana Islands', 'Rhodes', 'Vatican City', 'Kiribati', 'Biafra', 'GÄƒgÄƒuzia', 'Aymara', 'Greenland', 'Arameans Suryoye', 'Guadeloupe', 'Panjab', 'Western Isles', 'FelvidÃ©k', 'Isle of Wight', 'Saint Helena', 'Saint Martin', 'Martinique', 'FrÃ¸ya', 'Ã…land Islands', 'Romani people', 'Provence', 'Isle of Man', 'Andalusia', 'Chameria', 'Monaco', 'Palau', 'Parishes of Jersey', 'United Koreans in Japan', 'Western Armenia', 'Falkland Islands', 'Sint Maarten', 'Mayotte', 'Tuvalu', 'Micronesia', 'Northern Cyprus', 'SzÃ©kely Land', 'County of Nice', 'Saint Pierre and Miquelon', 'Mapuche', 'Darfur', 'Somaliland', 'RÃ©union', 'KÃ¡rpÃ¡talja', 'Basque Country', 'Orkney', 'Yoruba Nation', 'Sark', 'Yorkshire', 'Chagos Islands', 'Catalonia']

In [33]:
# We can delete all of these matches from the record so that only fifa matches are shown
fifa_matches = matches_trimmed_modif.copy()

In [34]:
fifa_matches.drop(fifa_matches[fifa_matches['home_team'].isin(nonfifa_still_in_matches)].index, inplace=True)

In [35]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [36]:
fifa_matches.drop(fifa_matches[fifa_matches['away_team'].isin(nonfifa_still_in_matches)].index, inplace=True)

In [37]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [38]:
fifa_matches.drop(fifa_matches[fifa_matches['country'].isin(nonfifa_still_in_matches)].index, inplace=True)

In [39]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [40]:
fifa_matches.reset_index(drop=True, inplace=True)

In [42]:
fifa_matches.drop(columns='match_id', inplace=True)

In [44]:
fifa_matches.insert(0,"match_id", fifa_matches.index+1)

In [45]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,2,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,3,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,4,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,5,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
25062,25063,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
25063,25064,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
25064,25065,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
25065,25066,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
25066,25067,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [46]:
fifa_matches.to_csv('./data/fifa_matches.csv', index=False)

In [47]:
list(set(fifa_matches['home_team'].unique()) - set(country_codes['team'].unique()))

[]

In [48]:
list(set(country_codes['team'].unique()) - set(fifa_matches['home_team'].unique()))

[]