In [39]:
import pandas as pd

In [40]:
country_codes = pd.read_csv('./data/country_codes.csv')
rankings = pd.read_csv('./data/fifa_rankings.csv')
matches = pd.read_csv('./data/matches.csv')

In [41]:
matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [42]:
rankings['rank_date'].iloc[0]

'1992-12-31'

In [43]:
# Trim matches
matches_trimmed = matches.drop(matches[matches['date'] <= rankings['rank_date'].iloc[0]].index)
matches_trimmed

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [44]:
rankings

,rank,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,team
0,1,GER,57.00,0.00,0,UEFA,1992-12-31,Germany
1,96,SYR,11.00,0.00,0,AFC,1992-12-31,Syria
2,97,BFA,11.00,0.00,0,CAF,1992-12-31,Burkina Faso
3,99,LVA,10.00,0.00,0,UEFA,1992-12-31,Latvia
4,100,BDI,10.00,0.00,0,CAF,1992-12-31,Burundi
...,...,...,...,...,...,...,...,...
63894,74,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06,El Salvador
63895,75,OMA,1320.29,1323.03,0,AFC,2022-10-06,Oman
63896,76,ISR,1316.55,1316.35,0,UEFA,2022-10-06,Israel
63897,78,GEO,1307.34,1296.46,-4,UEFA,2022-10-06,Georgia
63898,211,SMR,762.22,763.82,0,UEFA,2022-10-06,San Marino

In [45]:
# Countries in Rankings but NOT in Matches


# first see which countries are in rankings but not in matches
countries_in_rankings_not_in_matches = list(set(rankings['team'].unique()) - set(matches_trimmed['home_team'].unique()))
countries_in_rankings_not_in_matches

# # Create series with all countries in matches and the number of matches
# countries_list_matches = rankings['team'].value_counts()

# # Then filter the  list of matches using the countries that are in matches but not in federation
# print((countries_list_matches.loc[countries_in_rankings_not_in_matches]).sort_values(ascending=False))

['Chinese Taipei', 'U.S. Virgin Islands', 'China']

In [46]:
list(set(rankings['team'].unique()) - set(matches_trimmed['away_team'].unique()))

['Chinese Taipei', 'U.S. Virgin Islands', 'China']

### 3 Countries that are in RANKINGS do not show up in MATCHES
### Because they have different names in MATCHES

In [47]:
# Countries IN Matches but NOT IN RANKINGS
# We are looking for China, Taiwan (Chinese Taipei) and Unites States Virgin Islands (U.S. Virgin Islands)
# These are popular countries, they will for sure have more matches to them

# first see which countries are in matches but not in rankings (there will be more than 3, MATCHES has non-fifa countries as well)
countries_in_matches_not_in_rankings = list(set(matches_trimmed['home_team'].unique()) - set(rankings['team'].unique()))

# Create series with all countries in MATCHES and the number of matches
countries_list = matches_trimmed['home_team'].value_counts()

# Then filter the list of matches using the countries that are in MATCHES but not in RANKINGS (first 25 with most matches)
print((countries_list.loc[countries_in_matches_not_in_rankings]).sort_values(ascending=False).head(20))

China PR                        212
Martinique                       91
Guadeloupe                       71
French Guiana                    48
Jersey                           46
Guernsey                         37
Zanzibar                         28
Padania                          28
Greenland                        26
United States Virgin Islands     26
Ynys MÃ´n                         25
Basque Country                   24
Isle of Wight                    24
Catalonia                        23
Isle of Man                      22
Taiwan                           22
Gotland                          20
Ã…land Islands                    20
Northern Cyprus                  20
Shetland                         20
Name: home_team, dtype: int64

In [48]:
teams_to_replace = ['United States Virgin Islands','China PR','Taiwan']
print('Teams to replace: \n',teams_to_replace, '\nTo be replaced by: \n',countries_in_rankings_not_in_matches)

Teams to replace:
 ['United States Virgin Islands', 'China PR', 'Taiwan']
To be replaced by:
 ['Chinese Taipei', 'U.S. Virgin Islands', 'China']

In [49]:
matches_trimmed_modif = matches_trimmed.copy()

In [50]:
matches_trimmed_modif['home_team'] = matches_trimmed['home_team'].replace(teams_to_replace,countries_in_rankings_not_in_matches)
matches_trimmed_modif['away_team'] = matches_trimmed['away_team'].replace(teams_to_replace,countries_in_rankings_not_in_matches)
matches_trimmed_modif['country'] = matches_trimmed['country'].replace(teams_to_replace,countries_in_rankings_not_in_matches)

In [51]:
matches_trimmed_modif

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [52]:
# test
list(set(rankings['team'].unique()) - set(matches_trimmed_modif['home_team'].unique()))
# all teams from RANKINGS have their counterpart in MATCHES

[]

In [53]:
# But there are still non-fifa countries in matches as home_team
nonfifa_still_in_matches_home = list(set(matches_trimmed_modif['home_team'].unique()) - set(rankings['team'].unique()))
print('Non-fifa teams in international matches (as home_team): \n', nonfifa_still_in_matches_home)

Non-fifa teams in international matches (as home_team):
 ['Aymara', 'Jersey', 'Occitania', 'Barawa', 'Shetland', 'Galicia', 'Matabeleland', 'Western Sahara', 'SzÃ©kely Land', 'Brittany', 'Bonaire', 'Northern Mariana Islands', 'Vatican City', 'Saint Martin', 'SÃ¡pmi', 'Arameans Suryoye', 'Northern Cyprus', 'Yorkshire', 'French Guiana', 'Gozo', 'United Koreans in Japan', 'Madrid', 'Raetia', 'Abkhazia', 'Iraqi Kurdistan', 'Greenland', 'Martinique', 'Tibet', 'Canary Islands', 'Falkland Islands', 'Somaliland', 'Sark', 'Isle of Man', 'Sint Maarten', 'Basque Country', 'Chameria', 'Mapuche', 'Guadeloupe', 'Parishes of Jersey', 'Andalusia', 'Kiribati', 'Micronesia', 'Darfur', 'Kabylia', 'Tamil Eelam', 'Ellan Vannin', 'Saint Helena', 'FelvidÃ©k', 'Mayotte', 'Saint Pierre and Miquelon', 'Zanzibar', 'Cascadia', 'Gotland', 'Alderney', 'Palau', 'Western Isles', 'KÃ¡rpÃ¡talja', 'Hitra', 'Western Armenia', 'Isle of Wight', 'Silesia', 'Provence', 'Ynys MÃ´n', 'Biafra', 'Catalonia', 'South Ossetia', 'Guernsey', 'Menorca', 'Kernow', 'GÄƒgÄƒuzia', 'Panjab', 'Tuvalu', 'Rhodes', 'Monaco', 'Republic of St. Pauli', 'Chagos Islands', 'Artsakh', 'Padania', 'Corsica', 'Ã…land Islands', 'FrÃ¸ya', 'Yoruba Nation', 'RÃ©union', 'County of Nice', 'Orkney', 'Saare County', 'Romani people']

In [54]:
# But there are still non-fifa countries in matches as away_team
nonfifa_still_in_matches_away = list(set(matches_trimmed_modif['away_team'].unique()) - set(rankings['team'].unique()))
print('Non-fifa teams in international matches (as away_team): \n', nonfifa_still_in_matches_away)

Non-fifa teams in international matches (as away_team):
 ['Aymara', 'Jersey', 'Occitania', 'Barawa', 'Shetland', 'Matabeleland', 'Western Sahara', 'SzÃ©kely Land', 'Brittany', 'Bonaire', 'Northern Mariana Islands', 'Vatican City', 'Surrey', 'Wallis Islands and Futuna', 'Saint Martin', 'SÃ¡pmi', 'Maule Sur', 'Arameans Suryoye', 'Northern Cyprus', 'Yorkshire', 'French Guiana', 'Gozo', 'United Koreans in Japan', 'Raetia', 'Abkhazia', 'Iraqi Kurdistan', 'Greenland', 'Martinique', 'Tibet', 'Falkland Islands', 'Somaliland', 'Sark', 'Isle of Man', 'Sint Maarten', 'Yugoslavia', 'Basque Country', 'Chameria', 'Guadeloupe', 'Parishes of Jersey', 'Andalusia', 'Kiribati', 'Micronesia', 'Darfur', 'Two Sicilies', 'Kabylia', 'Tamil Eelam', 'Ellan Vannin', 'Saint Helena', 'FelvidÃ©k', 'Mayotte', 'Saint Pierre and Miquelon', 'Zanzibar', 'Cascadia', 'Gotland', 'Alderney', 'Western Isles', 'KÃ¡rpÃ¡talja', 'Hitra', 'Western Armenia', 'Isle of Wight', 'Provence', 'Ynys MÃ´n', 'Biafra', 'Catalonia', 'South Ossetia', 'Guernsey', 'Menorca', 'Kernow', 'Panjab', 'Tuvalu', 'Rhodes', 'Monaco', 'Chagos Islands', 'Artsakh', 'Padania', 'Ã…land Islands', 'FrÃ¸ya', 'RÃ©union', 'County of Nice', 'Orkney', 'Saare County', 'Romani people', 'Crimea']

In [55]:
nonfifa_still_in_matches = list(set(nonfifa_still_in_matches_home+nonfifa_still_in_matches_away))
print('Total nonfifa countries in international matches: \n', nonfifa_still_in_matches)

Total nonfifa countries in international matches:
 ['Aymara', 'Jersey', 'Occitania', 'Barawa', 'Shetland', 'Galicia', 'Matabeleland', 'Western Sahara', 'SzÃ©kely Land', 'Brittany', 'Bonaire', 'Northern Mariana Islands', 'Vatican City', 'Surrey', 'Wallis Islands and Futuna', 'Saint Martin', 'SÃ¡pmi', 'Maule Sur', 'Arameans Suryoye', 'Northern Cyprus', 'Yorkshire', 'French Guiana', 'Gozo', 'United Koreans in Japan', 'Madrid', 'Raetia', 'Abkhazia', 'Iraqi Kurdistan', 'Greenland', 'Martinique', 'Tibet', 'Canary Islands', 'Falkland Islands', 'Somaliland', 'Sark', 'Isle of Man', 'Sint Maarten', 'Yugoslavia', 'Basque Country', 'Chameria', 'Mapuche', 'Guadeloupe', 'Parishes of Jersey', 'Andalusia', 'Kiribati', 'Micronesia', 'Darfur', 'Two Sicilies', 'Kabylia', 'Tamil Eelam', 'Ellan Vannin', 'Saint Helena', 'FelvidÃ©k', 'Mayotte', 'Saint Pierre and Miquelon', 'Zanzibar', 'Cascadia', 'Gotland', 'Alderney', 'Palau', 'Western Isles', 'KÃ¡rpÃ¡talja', 'Hitra', 'Western Armenia', 'Isle of Wight', 'Silesia', 'Provence', 'Ynys MÃ´n', 'Biafra', 'Catalonia', 'South Ossetia', 'Guernsey', 'Menorca', 'Kernow', 'GÄƒgÄƒuzia', 'Panjab', 'Tuvalu', 'Rhodes', 'Monaco', 'Republic of St. Pauli', 'Chagos Islands', 'Artsakh', 'Padania', 'Corsica', 'Ã…land Islands', 'FrÃ¸ya', 'Yoruba Nation', 'RÃ©union', 'County of Nice', 'Orkney', 'Saare County', 'Romani people', 'Crimea']

In [56]:
# We can delete all of these matches from the record so that only fifa matches are shown
fifa_matches = matches_trimmed_modif.copy()

In [57]:
fifa_matches.drop(fifa_matches[fifa_matches['home_team'].isin(nonfifa_still_in_matches)].index, inplace=True)

In [58]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [59]:
fifa_matches.drop(fifa_matches[fifa_matches['away_team'].isin(nonfifa_still_in_matches)].index, inplace=True)

In [60]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [61]:
fifa_matches.drop(fifa_matches[fifa_matches['country'].isin(nonfifa_still_in_matches)].index, inplace=True)

In [62]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [63]:
fifa_matches.reset_index(drop=True, inplace=True)

In [64]:
fifa_matches.drop(columns='match_id', inplace=True)

In [65]:
fifa_matches.insert(0,"match_id", fifa_matches.index+1)

In [66]:
fifa_matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,2,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,3,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,4,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,5,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
25034,25035,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
25035,25036,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
25036,25037,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
25037,25038,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
25038,25039,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [67]:
fifa_matches.to_csv('./data/fifa_matches.csv', index=False)

In [ ]:
# tests

In [68]:
list(set(fifa_matches['home_team'].unique()) - set(country_codes['team'].unique()))

[]

In [69]:
list(set(country_codes['team'].unique()) - set(fifa_matches['home_team'].unique()))

[]

In [70]:
list(set(fifa_matches['away_team'].unique()) - set(country_codes['away_team'].unique()))

[]

In [71]:
list(set(country_codes['team'].unique()) - set(fifa_matches['away_team'].unique()))

[]